 <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-2">
                    <h2 class="sub-title">About Me</h2>
                    <p>A passionate computer programming student at renowned Georgian College. I've developed expertise in a range of programming languages thanks to my passion for technology, including Core Java,
                    Python, HTML5, CSS, and JavaScript, each of which has a specific function to play in developing dynamic apps and interactive websites. In addition, I've developed skills in PHP programming,
                    C++ IoT exploration, SQL database management, and ASP.NET and C# online experience creation. Strong communication abilities, along with my programming prowess, enable me to work well with
                    others and concisely communicate complicated concepts. I'm looking forward to honing my programming abilities at Georgian College, keeping up with new technology, and participating in
                    worthwhile projects.</p>
                    <ul>
                </div>
            </div>
        </div>
    </div>