<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <form>
                    <input type="text" name="fullName" id="full-name" placeholder="Name">
                    <input type="email" name="Email" id="email" placeholder="Email Id">
                    <textarea name="message" id="message" rows="10" placeholder="Message Here"></textarea>
                    <input type="submit" value="Submit" class="btn2">
                </form>
            </div>
            <div class="contact-right">
                <h2 class="sub-title">My Contact</h2>
                <p class="bgcolor"><i class="fa-sharp fa-solid fa-phone"></i> Phone</p>
                <p>6561516525</p>
                <p class="bgcolor"><i class="fa-solid fa-paper-plane"></i> Email</p>
                <p>pranavbhavsar08@gmail.com</p>
            </div>
        </div>
    </div>