<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-2">
                <h2 class="sub-title">About Me</h2>
                <p>A passionate computer programming student at renowned Georgian College. I've developed expertise in a range of programming languages thanks to my passion for technology, including Core Java,
                    Python, HTML5, CSS, and JavaScript, each of which has a specific function to play in developing dynamic apps and interactive websites. In addition, I've developed skills in PHP programming,
                    C++ IoT exploration, SQL database management, and ASP.NET and C# online experience creation. Strong communication abilities, along with my programming prowess, enable me to work well with
                    others and concisely communicate complicated concepts. I'm looking forward to honing my programming abilities at Georgian College, keeping up with new technology, and participating in
                    worthwhile projects.</p>
            </div>
        </div>
    </div>
</div>

<div id="projects">
    <div class="container">
        <h2 class="sub-title">My Projects</h2>
        <div class="row">
            <div class="projects-col">
                <i class="fa-solid fa-cloud"></i><br>
                <h3>PRPICKS</h3>
                <p>PRPICKS is your ultimate destination for the latest in fashion trends, powered by the cutting-edge ASP.NET MVC technology. Dive into the world of fashion with PRPICKS and discover a curated experience like no other.</p><br>
                <a href="https://github.com/pranavbhavsar082003/PRPicks" target="_blank">Click Here ></a>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-gamepad"></i><br>
                <h3>Guess The Pokémon</h3>
                <p>Guess the Pokémon is an interactive C# console-based game where players aim to identify a hidden Pokémon from a pool of 20 possible names by suggesting letters.</p><br>
                <a href="https://github.com/pranavbhavsar082003/C-sharp" target="_blank">Click Here ></a>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-pizza-slice"></i>
                <h3>Weather Station Using Arduino</h3>
                <p>The Weather Station project is created to monitor and show the current temperature and give alerts based on pre-defined thresholds for cold and hot temperatures.</p><br>
                <a href="https://www.tinkercad.com" target="_blank">Click Here ></a>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-vr-cardboard"></i>
                <h3>Teaching Beyond the Class: A VR Approach</h3>
                <p>Met some of the eminent VR minds in Hackathon. Learned and absorbed Unity software and C# programming. Experience the virtual reality world using an Oculus Rift headset.</p><br>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-code"></i>
                <h3>Portfolio Website</h3>
                <p>Built my own portfolio website using HTML5, CSS, and some JavaScript to showcase my skill as a frontend developer.</p><br>
                <a href="https://github.com/pranavbhavsar082003" target="_blank">Click Here ></a>
            </div>
        </div>
    </div>
</div>

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <form>
                    <input type="text" name="fullName" id="full-name" placeholder="Name">
                    <input type="email" name="Email" id="email" placeholder="Email Id">
                    <textarea name="message" id="message" rows="10" placeholder="Message Here"></textarea>
                    <input type="submit" value="Submit" class="btn2">
                </form>
            </div>
            <div class="contact-right">
                <h2 class="sub-title">My Contact</h2>
                <p class="bgcolor"><i class="fa-sharp fa-solid fa-phone"></i> Phone</p>
                <p>+1 6561516525</p>
                <p class="bgcolor"><i class="fa-solid fa-paper-plane"></i> Email</p>
                <p>pranavbhavsar08@gmail.com</p>
            </div>
        </div>
    </div>
</div>
