<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pranav Bhavsar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </nav>
      <div class="header-text">
        <p>Hello<span class="color">/></span></p>
        <h1 class="main-title">
          I'm <span class="color">P</span>ranav <span class="color">B</span>havsar
          <span class="bgcolor">Software</span> Developer
        </h1>
      </div>
    </header>
    {{{body}}}
    <footer>
      <ul class="social-icons">
        <li><a href="https://github.com/pranavbhavsar082003" target="_blank"><i
              class="fab fa-github"
            ></i></a></li>
        <li><a
            href="https://linkedin.com/in/pranavbhavsar082003"
            target="_blank"
          ><i class="fab fa-linkedin"></i></a></li>
      </ul>

      <p>&copy; 2024 Pranav Bhavsar</p>
    </footer>
  </body>
</html>