<div id="projects">
    <div class="container">
        <h2 class="sub-title">My Projects</h2>
        <div class="row">
            <div class="projects-col">
                <i class="fa-solid fa-cloud"></i><br>
                <h3>PRPICKS</h3>
                <p>PRPICKS is your ultimate destination for the latest in fashion trends, powered by the cutting-edge ASP.NET MVC technology. Dive into the world of fashion with PRPICKS and discover a curated experience like no other.</p><br>
                <a href="https://github.com/pranavbhavsar082003/PRPicks" target="_blank">Click Here ></a>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-gamepad"></i><br>
                <h3>Guess The Pokémon</h3>
                <p>Guess the Pokémon is an interactive C# console-based game where players aim to identify a hidden Pokémon from a pool of 20 possible names by suggesting letters.</p><br>
                <a href="https://github.com/pranavbhavsar082003/C-sharp" target="_blank">Click Here ></a>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-pizza-slice"></i>
                <h3>Weather Station Using Arduino</h3>
                <p>The Weather Station project is created to monitor and show the current temperature and give alerts based on pre-defined thresholds for cold and hot temperatures.</p><br>
                <a href="https://www.tinkercad.com" target="_blank">Click Here ></a>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-vr-cardboard"></i>
                <h3>Teaching Beyond the Class: A VR Approach</h3>
                <p>Met some of the eminent VR minds in Hackathon. Learned and absorbed Unity software and C# programming. Experience the virtual reality world using an Oculus Rift headset.</p><br>
            </div>
            <div class="projects-col">
                <i class="fa-solid fa-code"></i>
                <h3>Portfolio Website</h3>
                <p>Built my own portfolio website using HTML5, CSS, and some JavaScript to showcase my skill as a frontend developer.</p><br>
                <a href="https://github.com/pranavbhavsar082003" target="_blank">Click Here ></a>
            </div>
        </div>
    </div>
</div>
